@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@font-face {
  font-family: "Sato";
  src: url(../fonts/sato-light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sato";
  src: url(../fonts/sato-regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sato";
  src: url(../fonts/sato-medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sato";
  src: url(../fonts/sato-semi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sato";
  src: url(../fonts/sato-bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sato";
  src: url(../fonts/sato-heavy.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
