@import "./font.css";
@import "tailwindcss";
@import "./theme.css"; /* tailwind custom variables */

:root {
  color-scheme: light;
}
html {
  color-scheme: light !important;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-core-800);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sato);
}

button {
  cursor: pointer;
}

svg [fill^="#"],
svg path[fill^="#"] {
  fill: currentColor;
}
svg [stroke^="#"],
svg path[stroke^="#"] {
  stroke: currentColor;
}

@view-transition {
  navigation: auto;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
}
::view-transition-new(root) {
  animation: 500ms ease-in-out both slide-in;
}

.gradient-btn {
  background-image: linear-gradient(
    136.41deg,
    #1a2a6c 0%,
    #b21f1f 25%,
    #fdbb2d 50%,
    #b21f1f 75%,
    #1a2a6c 100%
  );
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
}

.gradient-btn:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.gradient-btn:focus {
  outline: none;
}
