@import "./font.css";
@import "tailwindcss";
@import "./theme.css"; /* tailwind custom variables */

body {
  color: var(--color-core-800);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sato);
}

button {
  cursor: pointer;
}

svg [fill^="#"],
svg path[fill^="#"] {
  fill: currentColor;
}
svg [stroke^="#"],
svg path[stroke^="#"] {
  stroke: currentColor;
}

@view-transition {
  navigation: auto;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
}
::view-transition-new(root) {
  animation: 500ms ease-in-out both slide-in;
}
