@theme {
  /* font-family */
  --font-sato: "Sato", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-sans: var(--font-outfit);
  --font-serif: var(--font-sato);

  /* colors - core */
  --color-core-25: #f9f7f6;
  --color-core-50: #e7e7e7;
  --color-core-100: #e7e7e7;
  --color-core-200: #e5e4e4;
  --color-core-300: #ccc8c8;
  --color-core-400: #b4aaaa;
  --color-core-500: #9d8c8c;
  --color-core-600: #866f6e;
  --color-core-700: #6a5554;
  --color-core-800: #4e3d3b;
  --color-core-900: #312623;
  --color-core-950: #14110e;
  /* colors - primary */
  --color-primary-25: #fcf6f1;
  --color-primary-50: #f9efe6;
  --color-primary-100: #f5dfcc;
  --color-primary-200: #f0c59e;
  --color-primary-300: #eea563;
  --color-primary-400: #ef8a2e;
  --color-primary-500: #bb5a02;
  --color-primary-600: #b65702;
  --color-primary-700: #8f4400;
  --color-primary-800: #6b3300;
  --color-primary-900: #4c2400;
  --color-primary-950: #331800;
  /* colors - gray */
  --color-gray-25: #fcfcfd;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2929;
  --color-gray-900: #101828;
  --color-gray-950: #0c111d;
  /* others */
  --color-base-background: #f5f7f8;
  /* colors - green */
  --color-green-700: #669f2a;
  /* colors - neutral */
  --color-neutral-700: #6a5554;
  /* colors - warning */
  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;
  /* colors-blue */
  --color-blue-50: #eff8ff;
  --color-blue-200: #b2ddff;
  --color-blue-500: #2e90fa;
  --color-blue-600: #1570ef;
  --color-blue-700: #175cd3;
  /* colors - success */
  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #dcfae6;
  --color-success-200: #a9efc5;
  --color-success-300: #75e0a7;
  --color-success-400: #47cd89;
  --color-success-500: #17b26a;
  --color-success-600: #079455;
  --color-success-700: #067647;
  --color-success-800: #085d3a;
  --color-success-900: #074d31;
  /* colors - error */
  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
  /* colors bloom */
  --color-bloom-25: #f8f2f3;
  --color-bloom-50: #f5ebec;
  --color-bloom-100: #f2e4e6;
  --color-bloom-200: #efdcdf;
  --color-bloom-300: #edd5d8;
  --color-bloom-400: #ebcdd0;
  --color-bloom-500: #e8c0c5;
  --color-bloom-600: #db9aa2;
  --color-bloom-700: #ce747f;
  --color-bloom-800: #bf4555;
  --color-bloom-900: #8e2f3b;
  /* colors - pink */
  --color-pink-25: #fef6fb;
  --color-pink-50: #fdf2fa;
  --color-pink-100: #fce7f6;
  --color-pink-200: #fcceee;
  --color-pink-300: #faa7e0;
  --color-pink-400: #f670c7;
  --color-pink-500: #ee46bc;
  --color-pink-600: #dd2590;
  --color-pink-700: #c11574;
  --color-pink-800: #9e165f;
  --color-pink-900: #851651;
  /* animations */
  --animate-spin: spin 2s linear infinite;
}
